/*css da tabela das propostas*/

.tabela-propostas {

    border: solid 2px black;
    border-radius: 20px;
    background-color:  rgb(110, 255, 62);

}

/*css linha da tabela proposta*/

td {

    border: solid 2px black;
    border-radius: 20px;
    background-color: white;

}

/*css do titulo agenda*/

.agenda h2{

    text-align: center;
    margin-bottom: 10px;

    font-family: 'Tangerine', cursive;
    font-size: 60px;
    

}

/*css tabela agenda*/

.agenda table{

width: 100%;
border-collapse: collapse; 
background: white;
border: 2px solid black;
border-radius: 10px;
box-shadow: 5px 5px 0px rgba(0,0,0,0.8);

}

/*css coluna agenda*/

.agenda th{

    padding: 12px;
    border-bottom: 2px solid black;
    font-size: 18px;

    background-color: rgb(110, 255, 62);
    color: black;

}

/*css linha agenda*/

.agenda td{

    padding: 12px;

    border-bottom: 1px solid #ccc;

}

#destaque {

    padding: 12px; 
    border-bottom: 1px solid #ccc;
     
    font-weight: bold;

}
.dia-contato {
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.dia-contato strong {
    display: block;
    margin-bottom: 5px;
    color: #000;
}
